
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_TEXT_INDEX=edu-text-chunks
PINECONE_IMAGE_INDEX=edu-image-chunks

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
S3_BUCKET=edu-rag-images